.App {
  text-align: center;
}



.colorBox {
  display: inline-block;
  text-align: center;
;
}


.swatchBox {
  height: 100px;
  width: 100px;
  border: 1px #232323 solid;
  border-radius: 20%;
  margin: 3px;
  box-shadow: 2px 2px #232323;
}

.swatchLabel {
  display: inline-block;
  float:left;
}
